<li class="card flex-basis p-2" style="min-width: 12rem;">
  <div class="card-body">
    <h5 class="card-title">
      Заголовок - <%=book.title%>
    </h5>
    <p class="card-text">
      Описание - <%=book.description%>
    </p>
    <p class="card-text">
      Авторы - <%=book.authors%>
    </p>
    <p class="card-text">
      <%=book.favorite ? "Любимая" : ""%>
    </p>
    <p class="card-text">
      Имя файла-<%=book.fileName%>
    </p>
    <div class="mt-auto">
      <a href="/books/<%=book.id%>/download" class="btn btn-primary <%=!book.fileName && "disabled" %>">Скачать</a>
      <a href="/books/edit/<%=book.id%>" class="btn btn-success">Редактировать</a>
      <form action="/books/delete/<%=book.id%>" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">
          Удалить
        </button>
    </form>
    </div>
    </div>
</li>